@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  /* COLORS */
  --orange-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --violet-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --red-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --background-gradient: linear-gradient(
    hsl(214, 47%, 23%),
    hsl(238, 48%, 15%)
  );
  --dark: hsl(229, 25%, 31%);
  --grey: hsl(217, 16%, 45%);
  --violet: hsl(229, 64%, 46%);

  /* BUTTON */
  --button-radius: 20rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ol,
ul {
  list-style: none;
}

/* LINKS */

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* BUTTONS */

.btn {
  display: block;

  width: var(--button-radius);
  height: var(--button-radius);
  border-radius: 50%;
}

.btn-active {
  cursor: pointer;
}

.rock {
  background: center no-repeat url("../public/img/icon-rock.svg"),
    var(--red-gradient);
}

.paper {
  background: center no-repeat url("../public/img/icon-paper.svg"),
    var(--violet-gradient);
}

.scissors {
  background: center no-repeat url("../public/img/icon-scissors.svg"),
    var(--orange-gradient);
}

/* STYLES */

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;

  height: 100%;
  margin: 5rem;
  background: var(--background-gradient) no-repeat;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 133rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GAME */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.header {
  width: 70rem;
  height: 15rem;
  border: 2px solid var(--grey);
  border-radius: 1.5rem;
  padding-left: 3rem;
  padding-right: 2.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  width: 15rem;
  height: 11rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score-text {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--violet);
}

.score-number {
  font-size: 6rem;
  font-weight: 700;
  color: var(--dark);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 6.2rem;
}

/* SCENE PLAY */
.scene-play {
  width: 47.6rem;
  height: 43rem;
  background-image: ("../public/img/bg-triangle.svg");

  position: relative;
}

.scene-play *:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.scene-play *:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}

.scene-play *:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* SCENE PICKED */
.scene-picked {
  width: 70rem;
  display: flex;
}

.scene-picked * {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.scene-picked h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 6.7rem;
}

.scene-picked .house-pick {
  width: calc(var(--button-radius) * 0.8);
  height: calc(var(--button-radius) * 0.8);
  border-radius: 50%;
  background-color: var(--violet);
  mix-blend-mode: multiply;
  filter: opacity(0.5);
}

/* RULES */
.rules {
  align-self: flex-end;
}
